<% if @order_items.size == 0 %>
  <h1>Nothing in Cart</h1>
<% else %>
  <div class="cart-items">
    <div class="header" style="display:block">
      <h3>Your total is <%= number_to_currency @order.total %></h3>
      <h1 class="title">Here's What You're Getting!</h1>
      <h1 class="continue-shopping" >Want some shirts? <span style="font-weight:bold"><a href="/products">Continue Shopping</a></span></h1>
      <%= form_for @order, remote: true do |f| %>
        <% unless @vouchers.nil? || @vouchers.count == 0 %>
          <p>you have a voucher code available, please select to use it</p>
          <%= f.select :voucher_id, options_for_select(@vouchers.map{ |c| [(number_to_currency c.price), c.id] }) %>
          <%= f.submit 'Add Voucher' , :id => "add-voucher" %>
        <% end %>
      <% end %>
    </div>
    <div class="ui divider"></div>
    <h3 class="item-count">You have <%= current_order.total_items %> items in your order.</h3>
    <table class="ui very basic table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Category</th>
          <th>Price</th>
          <th>Quantity</th>
          <th>Total</th>
          <th>Remove</th>
        </tr>
      </thead>
      <tbody class="order-items">
      <% @order_items.each do |order_item| %>
        <tr>
          <td><%= order_item.product.name %></td>
          <td><%= order_item.product.category %></td>
          <td><%= number_to_currency order_item.unit_price %></td>
          <%= form_for order_item, remote: true do |f| %>
            <td><%= f.number_field :quantity, value: order_item.quantity.to_i, class: "form-control", min: 1, max: "#{order_item.product.stock}" %><%= f.submit "Update Quantity", :style => "float:right", :id => "update_quantity" %></td>
            <%= f.hidden_field :product_id, value: order_item.product.id %>
          <% end %>
          <td>= <%= number_to_currency order_item.total_price %></td>
          <td class="remove"><%= link_to "Remove", order_item, { data: { confirm: "Are you sure you wish to remove this item" }, :class => "ui black button", :id => "order_item", method: :delete, remote: true } %></td>

        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
<% end %>

