  <div class="ui special cards isotope">
  	<% @products.each do |product| %>
  	  <div class="element-item transition card <%= product.category %>"  data-category="<%= product.category %>">
  	    <div class="dimmable image">
  	      <div class="ui dimmer">
  	        <div class="content">
  	          <div class="center">
                <p><%= product.category %></p>
  		        </div>
  		      </div>
  		    </div>
  		    <%= image_tag(product.avatar)%>
  		  </div>
  		  <div class="content">
  		    <a class="header"><%= product.name %></a>
  		  	<div class="meta">
  		      <span class="date"><%= number_to_currency product.price %></span>
  		    </div>
  		  </div>
  		  <div class="extra content">
          <div class="product_index-<%= product.id %>">
            <%= render partial: "stock_content", locals: { builder: product } %>
          </div>
          <%= form_for @order_item, :html => { :style => 'display:inline-block; float:right' }, remote: true do |f| %>
            <%= f.hidden_field :quantity, value: 1, min: 1 %>
            <%= f.hidden_field :product_id, value: product.id %>
            <% if product.stock == 0 %>
              <p>no stock!</p>
            <% else %>
              <a><%= f.submit "Add to Cart", :class => "ui button", :id => "product-#{product.id}" %></a>
            <% end %>
          <% end %>
  	    </div>
  		</div>
  	<% end %>
  </div>