 <div id="filters" class="ui seven column stackable grid category-buttons button-group" style="background: #35464f">
      <div class="column buttons">
        <button class="ui inverted red button" data-filter="*">
          <span class="web">All</span>
        </button>
      </div>
      <div class="column buttons">
        <button class="ui inverted yellow button " data-filter=".womens_footwear">
          <span class="web">women’s footwear</span>
        </button>
      </div>
      <div class="column buttons">
        <button class="ui inverted blue button text" data-filter=".mens_footwear">
          <span class="web">men’s footwear</span>
        </button>
      </div>
      <div class="column buttons">
        <button class="ui inverted orange button " data-filter=".womens_casualwear">
          <span class="web">women’s casual</span>
        </button>
      </div>
      <div class="column buttons">
        <button class="ui inverted green button " data-filter=".mens_casualwear">
          <span class="web">men’s casual</span>

        </button>
      </div>
      <div class="column buttons">
        <button class="ui inverted purple button " data-filter=".womens_formalwear">
          <span class="web">women’s formal</span>
        </button>
      </div>
      <div class="column buttons">
        <button class="ui inverted purple button " data-filter=".mens_formalwear">
          <span class="web">man’s formalwear</span>
        </button>
      </div>
  </div>
<div class="ui special cards isotope">
	<% @products.each do |product| %>
	  <div class="element-item transition card <%= product.category %>"  data-category="<%= product.category %>">
	    <div class="dimmable image">
	      <div class="ui dimmer">
	        <div class="content">
	          <div class="center">
  						<%= form_for @order_item, remote: true do |f| %>
			          <%= f.hidden_field :quantity, value: 1, min: 1 %>
							  <%= f.hidden_field :product_id, value: product.id %>
                <% if product.stock == 0 %>
                  <p>no stock!</p>
                <% else %>
                  <p class="testing321"><%= product.stock %> in stock</p>
		              <%= f.submit "Add to Cart", :class => "ui inverted button" %>
                <% end %>
							<% end %>
		        </div>
		      </div>
		    </div>
		    <%= image_tag(product.avatar)%>
		  </div>
		  <div class="content">
		    <a class="header"><%= product.name %></a>
		  	<div class="meta">
		      <span class="date"><%= number_to_currency product.price %></span>
		    </div>
		  </div>
		  <div class="extra content">
	      <a class="left-item">
	        <i class="users icon stock"></i>
	        <%= product.stock %> in stock
          hello world
	      </a>
        <%= form_for @order_item, remote: true do |f| %>
          <%= f.hidden_field :quantity, value: 1, min: 1 %>
          <%= f.hidden_field :product_id, value: product.id %>
          <% if product.stock == 0 %>
            <p>no stock!</p>
          <% else %>
            <a><%= f.submit "Add to Cart", :class => "ui button", :id => "#{product.id}-product" %></a>
          <% end %>
        <% end %>
	    </div>
		</div>
	<% end %>
</div>































